.main {
  padding: 10px;
  height: 100vh;
  
}
.layout {
  display: flex;
}

.sidebar {
  min-height: 100%;
  width: 300px;
  border-radius: 5px;
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-right: 20px;
  color: white;
}

.content {
  width: 100%;
  height: 100%;
  
}

.header {
  height: 10vh;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.body {
  height: 85vh;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
  /* background-color: white; */
  background-image: url('doctor.jpg'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}
.logo h6 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0px;
}
.menu {
  margin-top: 50px;
}
.menu-item {
  margin-top: 30px;
}
.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.menu-item i {
  font-size: 1.2rem;
  margin: 0 15px;
}
.active {
  background-color: white;
  padding: 10px;
}
.active a,
.active i {
  color: rgb(51, 1, 1);
}

.header-content {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
  margin: 0 15px;
}

.header-content i {
  margin-right: 20px;
  font-size: 1.2rem;
}
.header-content a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  margin: 0 10px;
  font: bold;
  text-transform: uppercase;
}
